<body>
  <div class="chat">
    <div id="sidebar" class="chat__sidebar">

    </div>
    <div class="chat__main">
      <div id="messages" class="chat__messages"></div>

      <div class="compose">
        <form id="message-form">
          <input id="message" placeholder="send a message" required autocomplete="off">
          <button>Send</button>
        </form>
        </div>

    </div>
  </div>
  <script id="message-template" type="text/html">
    <div class="message">
      <p>
        <span class="message__name">{{username}}</span>
        <span class="message__meta">{{createdAt}}</span>
      </p>
      <p>{{message}}</p>
    </div>
  </script>

  <script id="location-message-template" type="text/html">
    <div>
      <p>
        <span class="message__name">{{username}}</span>
        <span class="message__meta">{{createdAt}}</span>
      </p>
      </div>
  </script>
  
  <script id="sidebar-template" type="text/html">
    <div>
      <h3 class="list-title">Users</h3>
      <ul class="users">
        {{#users}}
        <li> {{username}} </li>
        {{/users}}
      </ul>
    </div>
  </script>

</body>

</html>